<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
	No email validations are sent out so you can use any email you'd like, this app is simply a proof of concept. Proper security measures have been taken, though.
</p>
